{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "clientPhone-index",
  "query": {
    "expression": "clientPhone = :clientPhone",
    "expressionValues": {
      ":clientPhone": $util.dynamodb.toDynamoDBJson($ctx.args.clientPhone)
    }
  }
}
