{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "clientId": $util.dynamodb.toDynamoDBJson($ctx.args.input.clientId)
  },
  "attributeValues": {
    "reminderDate": $util.dynamodb.toDynamoDBJson($ctx.args.input.reminderDate)
  }
}
