{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson("template")
  },
  "attributeValues": {
    "template": $util.dynamodb.toDynamoDBJson($ctx.args.input.template)
  }
}
